<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>GRA 3D</title>
    <link rel="stylesheet" href="scss/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script  src="https://threejs.org/examples/js/loaders/ColladaLoader.js"></script>
    <script  src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>

    <link rel="icon"
          type="image/png"
          href="/img/icon.png">
</head>
<body>
    <!--testowe 10 guzików do operacji na bazie, domyślnie będą to dziury w planszy albo kule-->
    <div class="buttons">
        <button id="1">1</button>
        <button id="2">2</button>
        <button id="3">3</button>
        <button id="4">4</button>
        <button id="5">5</button>
        <button id="6">6</button>
        <button id="7">7</button>
        <button id="8">8</button>
        <button id="9">9</button>
        <button id="10">10</button>
        <button id="11">11</button>
        <button id="12">12</button>
        <button id="turn">end turn</button>
    </div>


{{{body}}}

    <script src="js/EndgamePopup.js"></script>
    <script src="three/UI.js"></script>

    <script src="libs/OrbitControls.js"></script>
<!--    <script src="libs/GLTFLoader.js"></script>-->


    <script src="/socket.io/socket.io.js"></script>
    <script src="js/WebsocketHandler.js"></script>

    <script src="three/DaeModel.js"></script>
    <script src="three/GLTFModel.js"></script>
    <script src="three/RaycasterHandler.js"></script>


    <script src="three/Cube.js"></script>
    <script src="three/Board.js"></script>
    <script src="three/Stone.js"></script>
    <script src="three/LightGlow.js"></script>
    <script src="three/Fontain.js"></script>
    <script src="three/Rock.js"></script>
    <script src="three/Light.js"></script>
    <script src="three/Skybox.js"></script>
    <script src="three/Main.js"></script>
    <script src="three/Camera.js"></script>
    <script src="three/Renderer.js"></script>
    <script src="three/Ico.js"></script>
    <script src="three/Jumps.js"></script>

    <script src="three/index.js"></script>


</body>
</html>
