<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>GRA 3D</title>
    <link rel="stylesheet" href="scss/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script  src="https://threejs.org/examples/js/loaders/ColladaLoader.js"></script>
    <script  src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>
</head>
<body>

{{{body}}}

    <script src="libs/OrbitControls.js"></script>
    <script src="libs/GLTFLoader.js"></script>


    <script src="/socket.io/socket.io.js"></script>
    <script src="js/WebsocketHandler.js"></script>

    <script src="three/DaeModel.js"></script>
    <script src="three/GLTFModel.js"></script>
    <script src="three/RaycasterHandler.js"></script>


    <script src="three/Cube.js"></script>
    <script src="three/Board.js"></script>
    <script src="three/Fontain.js"></script>
    <script src="three/Rock.js"></script>
    <script src="three/Light.js"></script>
    <script src="three/Skybox.js"></script>
    <script src="three/Main.js"></script>
    <script src="three/Camera.js"></script>
    <script src="three/Renderer.js"></script>
    <script src="three/Ico.js"></script>

    <script src="three/index.js"></script>


</body>
</html>
