<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>GRA 3D</title>
    <link rel="stylesheet" href="scss/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"></script>


</head>
<body>

{{{body}}}

    <script src="libs/OrbitControls.js"></script>
    <script src="libs/GLTFLoader.js"></script>


    <script src="three/Cube.js"></script>
    <script src="three/SceneBg.js"></script>
    <script src="three/Main.js"></script>
    <script src="three/Camera.js"></script>
    <script src="three/Renderer.js"></script>
    <script src="three/Ico.js"></script>

    <script src="three/index.js"></script>


</body>
</html>
