<div id="htmlLoaderSpinner">
    <div class="loader">
        <h1>Loading...</h1>
    </div>
</div>
<div id="root"></div>
{{> chat}}

<!--<div class="game-result-container">-->
<!--    <h1> Game Over !!! </h1>-->
<!--    <h2> The winner is: <span> Player1 </span> </h2>-->
<!--    <button> Exit </button>-->
<!--</div>-->
