@import "theme";
@import "utils";
$chatBg: #fff;

$bg: #aacaf3;
$vue-text-color: #2c3e50;
$shadow: 0px 0px 5px rgba(0, 0, 0, 0.56);
$shadow2: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$shadow3: rgba(0, 0, 0, 0.08) 0px 4px 12px;

$txtColor: azure;
$settingsBg: #545353;

$messageColor: $settingsBg;

@mixin df ($dir,$wrap,$x: center,$y: center){
  display: flex;
  align-items: $y;
  justify-content: $x;
  flex-flow: $dir $wrap;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  @include df(row,wrap);
  font-family: "Arial Black", sans-serif;
  background-color: #eadbd1;
}
#chat-container {
  @include df(column,wrap);
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 30vh;
  background-color: rgba($chatBg, .6);
  z-index: 1100000;
  border-radius: 45px 0 0 45px;
  overflow: hidden;
  border: 3px  $messageColor solid;

  #messages {
    width: 100%;
    height: 25vh;
    max-height: 22vh;
    padding: 1rem;
    overflow-y: scroll;

    z-index: 1100001;
    border-radius: 45px 0 0 0;

    .message-item {
      color: $txtColor;
      background-color: $messageColor;
      box-shadow: $shadow;
      //padding: 1rem 2rem;
      border-radius: 40px;
      margin: 0 0 1rem 0 ;
      h2{
        padding: 1rem 2rem 1rem 2rem;
        width: 100%;
      }
      h5 {
        background-color: darken($messageColor, 20%);
        width: 100%;
        padding: .7rem 2rem .7rem 2rem;
        border-radius: 0 0 0 45px;
      }
    }
  }
  #input {
    z-index: 1100002;
    align-self: flex-end;
    width: 100%;
    position: absolute; bottom: 0;
    font-size: 15px;
    height: 5vh;
    background: none;
    color: black;
    outline: none;
    border-top: 3px solid $messageColor;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 0 45px;
    padding:  0 2rem;
    font-weight: 800;
  }
}
.d-n {
  display: none !important;
}
#chat-toggle {
  z-index: 1100002;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  background-color: $settingsBg;

  box-shadow: $shadow;
  @include df(row, nowrap);
  color: $txtColor;
  font-size: 2rem;
  transition: .5s;

  &:hover{
    color: darken($txtColor,20%);
    background-color: darken($settingsBg,20%);
    font-size: 2.1rem;
    cursor: pointer;
  }
}
.buttons {
  position: absolute;
  top: 0;

  button {
    width: 50px;
    height: 50px;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(25px);
    box-shadow: $shadow;
    transition: .5s;
    cursor: pointer;

    &:hover{
      background-color: rgba(255,255,255,1);
    }
  }
}

ui-element {
  @include df(row, wrap);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.5);
  width: 25%;
  padding: 2rem 0;
  border-radius: 0 0 45px;
  box-shadow: $shadow;


  div {
    width: calc(50% - 2rem);
    @include df(column, nowrap);
    margin: 0 1rem;

    img{
      object-fit: cover;
      width: 100%;
      height: 15vh;
      border-radius: 60px 45px 60px 45px;
    }
  }
}
