@import "theme";
@import "utils";
$chatBg: #fff;

$bg: #aacaf3;
$vue-text-color: #2c3e50;
$shadow: 0px 0px 5px rgba(0, 0, 0, 0.56);
$shadow2: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$shadow3: rgba(0, 0, 0, 0.08) 0px 4px 12px;

$txtColor: azure;
$settingsBg: #545353;



@mixin df ($dir,$wrap,$x: center,$y: center){
  display: flex;
  align-items: $y;
  justify-content: $x;
  flex-flow: $dir $wrap;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  @include df(row,wrap);
  font-family: "Arial Black", sans-serif;
  background-color: #eadbd1;
}
#chat-container {
  @include df(column,wrap);
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 30vh;
  background-color: rgba($chatBg, .6);
  z-index: 1100000;
  border-radius: 45px 0 0 45px;
  overflow: hidden;

  #messages {
    width: 100%;
    height: 25vh;
    max-height: 22vh;
    padding: 1rem;
    overflow-y: scroll;
    border: 3px mediumspringgreen solid;
    z-index: 1100001;
    border-radius: 45px 0 0 0;

    .message-item {
      color: $txtColor;
      background-color: mediumspringgreen;
      padding: 1rem 2rem;
      border-radius: 40px;
      margin: 0 0 1rem 0 ;
    }
  }
  #input {
    z-index: 1100002;
    align-self: flex-end;
    width: 100%;
    position: relative; bottom: 0;
    font-size: 15px;
    height: 5vh;
    background: none;
    color: black;
    outline: none;
    border-top:  none;
    border-bottom:  3px solid mediumspringgreen;
    border-left:  3px solid mediumspringgreen;
    border-right:  3px solid mediumspringgreen;
    border-radius: 0 0 0 45px;
    padding:  0 2rem;
    font-weight: 800;
  }
}
.d-n {
  display: none !important;
}
#chat-toggle {
  z-index: 1100002;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  background-color: $settingsBg;

  box-shadow: $shadow;
  @include df(row, nowrap);
  color: $txtColor;
  font-size: 2rem;
  transition: .5s;

  &:hover{
    color: darken($txtColor,20%);
    background-color: darken($settingsBg,20%);
    font-size: 2.1rem;
    cursor: pointer;
  }
}
