@import "theme";
@import "utils";

@mixin df($row, $wrap){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: $row $wrap;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  @include df(row,wrap);
  font-family: "Arial Black", sans-serif;
  background-color: #eadbd1;
}
